.section-2 {
  display: grid;
  grid-template-columns: auto 50%;
  column-gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.section-2-image {
  border-radius: 10px;
  width: 100%;
  height: 600px;
}

.section-2-image:hover {
  transform: scale(1);
}

.section-2-description {
  /* margin-left: 50px;
  margin-right: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-2-description > h1 {
  background-color: #759242;
  padding: 0 20px;
  color: white;
}

@media (max-width: 650px) {
  .section-2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .section-2-image {
    width: 100%;
    height: 500px;
  }
  .section-2-description {
    margin-left: 50px;
    margin-right: 50px;
  }
}
