.section-2 {
  display: grid;
  grid-template-columns: auto 50%;
  column-gap: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.section-2-image {
  border-radius: 10px;
  width: 100%;
  height: 600px;
  border-right: 5px solid #759242;
  border-bottom: 5px solid #759242;
  padding-bottom: 5px;
  padding-right: 5px;
  box-shadow: 1px 1px 4px grey;
}

.section-2-image:hover {
  transform: scale(1);
  padding-bottom: 0px;
  padding-right: 0px;
}

.section-2-description {
  /* margin-left: 50px;
  margin-right: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-2-description > h1 {
  background-color: #759242;
  padding: 0 20px;
  color: white;
}
.contact {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon {
  position: relative;
  top: 6px;
}
@media (max-width: 650px) {
  .section-2 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .section-2-image {
    width: 96%;
    height: 500px;
    padding-bottom: 4px;
    padding-right: 4px;
  }
  .section-2-description {
    margin-left: 50px;
    margin-right: 50px;
  }
}
