.App {
  text-align: center;
}
body {
  font-family: "Armata", sans-serif;
  background-color: #ede3bc;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header {
  background-color: #759242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.hamburger-react {
  display: none;
  color: white;
  margin-right: 10px;
}
.logo {
  padding-left: 20px;
  color: white;
  z-index: 2;
  /* font-family: "Armata", sans-serif; */
}

.nav-bar {
  margin: 20px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
.nav-links {
  /* padding-right: 20px; */
  height: 60px;
  display: flex;
  justify-content: flex-end;
  /* font-family: "Armata", sans-serif; */
}
Route {
  position: relative;
  top: 65px;
}
@media (max-width: 650px) {
  .nav-links {
    background-color: #759242;
    flex-direction: column;
    height: auto;
    width: 100%;
    position: absolute;
    top: -120%;
    transition: all ease-in-out 0.3s;
    box-shadow: -1px 1px 4px #5b7333;
  }
  .hamburger-react {
    display: block;

    z-index: 5;
  }

  .open {
    top: 60px;
    opacity: 1;
    z-index: 1;
  }

  Route {
    margin-top: 65px;
  }
}

.loading {
  width: 100%;
  /* height: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.signup-login {
  margin-top: 50px;
  margin-bottom: 450px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.signup-login > * {
  margin-top: 10px;
  font-size: 1.1em;
}

.Top-App {
  position: relative;
  min-height: 90vh;
  padding-bottom: 100px;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #759242;
  text-decoration: none;
  position: absolute;
  bottom: -10px;
}
.footer > * > * {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
