.App {
  text-align: center;
}
body {
  font-family: "Armata", sans-serif;
  background-color: #ede3bc;
}
.header {
  background-color: #759242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.hamburger-react {
  display: none;
  color: white;
  margin-right: 10px;
}
.logo {
  padding-left: 20px;
  color: white;
  z-index: 2;
  /* font-family: "Armata", sans-serif; */
}

.nav-bar {
  margin: 20px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
.nav-links {
  padding-right: 20px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  /* font-family: "Armata", sans-serif; */
}
Route {
  position: relative;
  top: 65px;
}
@media (max-width: 650px) {
  .nav-links {
    background-color: #759242;
    flex-direction: column;
    height: auto;
    width: 100%;
    position: absolute;
    top: -120%;
    transition: all ease-in-out 0.3s;
    box-shadow: -1px 1px 4px #5b7333;
  }
  .hamburger-react {
    display: block;

    z-index: 5;
  }

  .open {
    top: 60px;
    opacity: 1;
    z-index: 1;
  }

  Route {
    margin-top: 65px;
  }
}
